.Forgot .navbar+.container-fluid{
    background-color: #e9ebee !important;
    height: 60vh;
}
.Forgot .divider{
    height: 15vh;
}
.bgprimary{
    background-color: #e9ebee !important;
}
.Reset .navbar+.container-fluid{
    height: 80vh;
}
.Reset .divider{
    height: 8vh;
}
.Reset .profile-image{
   height: 70px;
   width: 60px;
}
.NoLongerAccess .navbar+.container-fluid{
    background-color: #e9ebee !important;
}

@media(max-width: 600px) {
.Reset .container-fluid .find {
    margin-top: 7rem;
}
}
@media(max-width: 450px) {
    .Reset .container-fluid .find {
        margin-top: 12rem;
    }
}
@media(max-width: 375px) {
    .Reset .container-fluid .find {
        margin-top: 20rem;
    }
}