.Friends .friends-menu,.Marketplace .marketplace-menu, .Groups .groups-menu{
    height: 90vh !important;
}
.friends-container, .groups-container{
    height: 90vh !important;
    background-color: #e4e6eb !important;
}
.Friends .card-img-miniature{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.Groups .groups-container{
    margin-left: 1rem !important;
    margin-right: -5rem;
    height: 87vh;
    overflow: auto;
}
/* .Groups .groups{
    overflow: auto;
} */
.Groups .groups-container::-webkit-scrollbar{
    display: none;
  }